.father {
  position: relative;
}
#loading {
  width: 100%;
  height: 100%;
  overflow: hidden;
  /* background-color: black; */
  position: absolute;
  top: 40px;
  left: 0;
  z-index: 2;
  display: none;
  justify-content: center;
  align-items: center;
}
